.App {
  text-align: center;
  font-family: 'Cairo', sans-serif;
  
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar {
 
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(to right, rgb(154, 243, 236), rgb(56, 168, 159));

  display: grid;
  grid-template-areas: 'logo searchbar navbar-text';

}

.logo {
  grid-area: logo;
  width: 12vw;
  height: auto;
}

.searchbar {
  grid-area: searchbar;
}

.searchbar input {
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: calc(8px + 2vmin);
}

.navbar-text {
  grid-area: navbar-text;
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  
  
}

.navbar .link, .link :visited {
  text-decoration: none;
  color: white;
}

.navbar p {
  text-decoration: none;
}



#searchbar, .submit {
  padding: 5px;
  margin: 0;
}


#main {
  position: relative;
  top: 100px;
  padding-bottom: 50px;
}

.form {
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 3px 3px 3px rgb(223, 223, 223);
  margin: 30px auto;
  padding: 20px;
  width: 60%;
}


.register-form-fields {
  width: 50%;
  margin: 10px auto;
}



.register-form-fields input {
  margin: 10px 0px;
}


.App-link {
  color: white;
}

.product-image {
  width: auto;
  height: 150px;
}

.product-detail img {
  width: 200px;
  height: auto;
}

.product-detail .description {
  width: 40%;
  margin: 0px auto;
  text-align: justify;
}

.basket-product {
  /* display: grid;
  grid-template-areas: 
    'picture' 'name'
    'picture' 'price'
    'picture' 'button';
  grid-gap: 20px; */

}

.basket-product img {
  width: auto;
  height: 150px;
  grid-area: picture;
  
}

#product-name {
  grid-area: name;
  
}

#product-price {
  grid-area: price;
  
}

.basket-product button {
  grid-area: button;
}


.order, .contact-container, .payment-method-container {
  margin: 40px auto;
  border: 1px solid grey;
  width: 50%;
  box-shadow: 3px 3px 3px grey;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  width: 80%;
}

.product {
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 3px 3px 3px rgb(223, 223, 223);
  margin: 10px;
  padding: 5px;
  width: 30vw;
  
}

.product .link, .link :visited {
  text-decoration: none;
  color: rgb(73, 73, 73);
}




.btn{
  margin: 10px;
  padding: 5px;
  width: 50%;
}

.product h3 {
  text-decoration: none;
}



.checkout-btn {
  padding: 10px;
  
}

.account {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.account .link {
  width: 40%;
  margin: 10px;
  padding: 20px;
  background-color: rgb(56, 168, 159);
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 3px 3px 3px rgb(199, 199, 199);
  color: white;
  text-decoration: none;
}

.account .link h1 {
  text-shadow: 2px 2px 2px rgb(65, 65, 65);
}


.account, .link :visited {
  color: white;
}

.orders .link, .link :visited {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.orders-product, .basket-product {
  border: 1px solid rgb(223, 223, 223);
  width: 50%;
  margin: 10px auto;
}

.orders-product-flex, .basket-product-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.orders-product img, .basket-product img {
  width: auto;
  height: 150px;
  margin: 10px;
}

.basket-product button {
  margin: 0px 5px;
}



